/*Animação do botão da tela GameOver*/
@keyframes animarBtn {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

* {
    margin: 0px;
    padding: 0px;
}

/*Cenário do Jogo*/
body {
    /*Definição da imagem de fundo*/
    background: url(../img/fundo-principal.jpg) no-repeat;
    background-size: cover;

    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

/*Cenário do jogo na index*/
body#jogo {
    /*Definição da imagem de fundo*/
    background: url(../img/fundo-capital.jpg) no-repeat;

    cursor: grab;
}

/*Título da página principal*/
h1 {
    color: rgb(0, 73, 6);
    font-size: 3em;
    text-transform: uppercase;
}

/*Container para alinhamento dos itens*/
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*Layout da área central da página principal*/
#area-central {
    width: 920px;
    background: rgba(228, 228, 228, 0.753);
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;

    padding: 10px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

p {
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
}

/*Layout da area de botões*/
#area-btn {
    width: 100%;
    margin-top: 20px;

    display: flex;
    justify-content: center;
}

/*Formatar Botão*/
#area-btn button {
    background-color: rgb(15, 150, 26);
    color: white;
    border-radius: 10px;
    border: none;

    box-shadow: 1px 2px 10px black;

    letter-spacing: 1px;
    font-size: 1em;
    text-transform: uppercase;

    padding: 10px;

    cursor: pointer;

    animation: animarBtn 1s ease-in-out infinite alternate-reverse;
}

#area-btn button:hover {
    background-color: rgb(74, 39, 7);
    transition: all 0.7s;
}

/*Cor do botão da página index*/
#area-btn button.btn-iniciar {
    background-color: rgb(150, 76, 8);
}

#area-btn button.btn-iniciar:hover {
    background-color: rgb(74, 39, 7);
}

/*Painel inferior de informações*/
.painel {
    position: absolute;
    bottom: 0px;
    left: 0px;

    width: 190px;
    padding: 10px;

    border-top: 1px solid white;
    background-color: white;
    opacity: 0.7;
}

/*Area de cronometro*/
.cronometro {
    float: left;

    font-size: 1.4em;
    font-weight: bold;
}

body#fim-de-jogo #area-central {
    display: block;
    text-align: center;
}

#area-resultados {
    font-size: 3em;
    color: white;
    text-shadow: 1px 1px 4px black;
}

/*Tempo no fim de jogo*/
#tempo {
    color: rgb(179, 11, 11);
}

#pontos {
    color: rgb(179, 11, 11);
}

